<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="style.css">
<title>OAuth</title>
</head>
<body>
    <nav>
        <ul>
                <% if (user) { %>
                    <li><a href="/auth/logout">Log out</a></li>
                    <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <% } %>
                    <li><a href="/">Homepage</a></li>

                    <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to your profile, <%= user.displayName %></h1>
    </header>
    <main>
        <img src="<%= user.thumbnail %>" />
        <p>
            Extra information about you. 
        </p>

    </main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>